/*styling for teh live score tab */
#arsenal__score__logo {
    width: 9rem;
    height: 6rem;
}

#opponent__score__logo {
    width: 2.5em;
    height: 5rem;
    padding: 1rem 2rem;
    margin-top: 1rem;
}

#opponent {
    align-items: center;
    justify-content: center;
    margin-top: -1rem;
}

#opponent img {
    margin-bottom: 0.5rem;
}



#score {
    padding: 2rem;
}

#score__data {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;

}

#ARS {

    align-items: center;
    justify-content: center;
}

#ARS h3 {
    margin-top: -3rem;
}

#ARS img {
    margin-top: 1rem;
}

#score__text {
    font-size: 6rem;
    margin-left: 4rem;
    margin-right: 4rem;
    margin-bottom: 1rem;
}