.buttonContainer {
    overflow: hidden;
    /* border: 1px solid #ccc; */
    background-color: #f1f1f1;
    border-radius: 0.2rem 0.2rem 0rem 0rem;
}


.buttonContainer button {
    background-color: inherit;
    float: left;
    border: none;
    outline: none;
    cursor: pointer;
    padding: 14px 20px;
    transition: 0.3s;
    border-radius: 0.2rem 0.2rem 0rem 0rem;
    margin-left: 1rem;
}

.buttonContainer button:hover {
    background-color: #f1b5b5;
    color: black;
}

.buttonContainer button.active {
    background-color: rgb(204, 53, 53);
    color: white;
}

.tabContent {
    display: none;
    padding: 6px 12px;
    border: 1px solid #ccc;
    border-top: none;
    animation: fadeEffect 1s;
    height: 40vh;
    overflow: hidden;
    /* box-sizing: border-box; */

    max-height: 35vh;
}

@keyframes fadeEffect {
    from {
        opacity: 0;
    }

    to {
        opacity: 1;
    }
}


#highlight__cover__image {
    width: 500px;
    height: 250px;
    opacity: 0.7;
}

#highlight__cover__image:hover {
    opacity: 1;
    transition: opacity .25s ease-in-out;
}

#highlights h3 {
    font-weight: 400;
    margin-bottom: 1rem;
}